{% extends 'master.html' %}
{% block css %}
    {% load staticfiles %}
    <link href="{% static "ArtGallery/css/album.css" %}" rel="stylesheet">
    <link href="{% static "ArtGallery/css/carousel.css" %}" rel="stylesheet">
    <link href="{% static "ArtGallery/css/artwork.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- What's New Area -->
    {% if latest_artworks %}
        <div id="portfolio" class="color white">
            <div class="container">

                <!--start: Wrapper -->
                <div class="wrapper span12">

                    <!-- start: Page Title -->
                    <div id="page-title">

                        <div id="page-title-inner">

                            <h2><span>What's New</span></h2>

                        </div>

                    </div>
                </div>
                <div class="container-fluid">
                    <div class="wrapper span12">
                        <div class="demo-1">
                            <div id="slider" class="sl-slider-wrapper">
                                <div class="sl-slider">
                                    {% for latest_artwork in latest_artworks %}
                                        <div class="sl-slide bg-1" data-orientation="horizontal"
                                             data-slice1-rotation="-25"
                                             data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                                            <div class="sl-slide-inner wrapper">
                                                <div class="offset1 span6 text-right">
                                                    <a href="{% url 'aw' latest_artwork.id %}"><img
                                                            src="{{ latest_artwork.aw_img.url }}"
                                                            alt="Card image cap"
                                                            class="slice_artwork"/></a>
                                                </div>
                                                <div class="span3 text-left">
                                                    <h1>
                                                        <a href="{% url 'aw' latest_artwork.id %}">{{ latest_artwork.aw_name }}</a>
                                                    </h1>
                                                    <hr/>
                                                    <h3>{{ latest_artwork.aw_description }}</h3>
                                                    <hr/>
                                                    <b>By </b>
                                                    <a href="{% url 'user' latest_artwork.artist_id.id %}">
                                                        {{ latest_artwork.artist_id.first_name }}
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <nav id="nav-arrows" class="nav-arrows">
                                    <span class="nav-arrow-prev">Previous</span>
                                    <span class="nav-arrow-next">Next</span>
                                </nav>

                                <nav id="nav-dots" class="nav-dots">
                                    {% for a in latest_artworks %}
                                        <span></span>
                                    {% endfor %}
                                </nav>

                            </div>
                            <!-- /slider-wrapper -->
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- List 4 most rewarded artworks  -->
        <div class="container-fluid">
            <div id="portfolio" class="color white">
                <div class="container">
                    <div class="wrapper span12">
                        <div id="page-title">
                            <div id="page-title-inner">
                                <h2><span>Most Rewarded</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper span12">
                <div id="" class="row-fluid">
                    {% for aw_award in aw_by_awards %}
                        <div class="span3 portfolio-item">
                            <div class="picture">
                                <a href="{% url 'aw' aw_award.id %}"><img src="{{ aw_award.aw_img.url }}"/>
                                    <div class="image-overlay-link"></div>
                                </a>

                                <div class="item-description alt">
                                    <h5><a href="{% url 'aw' aw_award.id %}">{{ aw_award.aw_name }}</a></h5>
                                    <p>
                                        {{ aw_award.aw_description }}
                                    </p>

                                    <label><a href="{% url 'user' aw_award.artist_id.id %}">
                                        {{ aw_award.artist_id.first_name }}
                                    </a></label>
                                    <p>Total Awards <label
                                            class="label label-important">${{ aw_award.aw_totalAward }}</label></p>
                                </div>
                            </div>

                            {% if forloop.last %}
                                <div class="text-right">
                                    <label><a href="{% url 'art_list' %}">More >></a></label>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Auction and Artists -->
    <div class="container-fluid">
        <div class="wrapper span12">
            <div class="span8">
                <hr/>
                <div class="color white">
                    <div id="page-title">
                        <div id="page-title-inner">
                            <h2><span>Auction</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row-fluid wrapper">
                    {% if auction_aw %}
                        <div class="span6"><img src="{{ auction_aw.aw_id.aw_img.url }}" style="width: 300px;"></div>
                        <div class="span5 text-center">
                            <h2><a href="{% url 'aw' auction_aw.aw_id.id %}">{{ auction_aw.aw_id.aw_name }}</a></h2>
                            <b>By </b>
                            <a href="{% url 'user' auction_aw.aw_id.artist_id.id %}">
                                {{ auction_aw.aw_id.artist_id.first_name }}
                            </a>
                            <hr/>
                            <h3>{{ auction_aw.ar_time }}</h3>
                            <h3>{{ auction_aw.ar_end_time }}</h3>
                            <hr/>
                            <label class="label label-important">Initial Price</label><br/>
                            <label class="fa-icon-money">${{ auction_aw.ar_originalPrice }}</label>
                            <a href="{% url 'aw' auction_aw.aw_id.id %}" type="button" class="btn btn-success">Bid
                                Now</a>
                            <div class="text-right">
                                <label><a href="{% url 'art_list' %}">More >></a></label>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="span3">
                <hr/>
                <div id="" class="color white">
                    <div id="page-title">
                        <div id="page-title-inner">
                            <h2><span>Artist</span></h2>
                        </div>
                    </div>
                    <div class="wrapper">
                        {% if artists %}
                            {% for artist in artists %}
                                <label class="label label-info">{{ forloop.counter }}</label>
                                <a href="{% url 'user' artist.id %}">{{ artist.first_name|upper }}</a>
                                <br/>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
