{% extends 'master.html' %}
{% block title %}Personal Page: {{ customer.username }}{% endblock %}

{% block body %}

    <div id="portfolio" class="color white">
        <!--start: Container -->
        <div class="container">
            <!--start: Wrapper -->
            <div class="wrapper span12">
                <!-- start: Page Title -->
                <div id="page-title">
                    <div id="page-title-inner">
                        <h2><span>{{ customer.username }}</span></h2>
                    </div>
                </div>
                <!-- end: Page Title -->
                <div id="filters">
                    <ul class="option-set" data-option-key="filter">
                        <li><a href="#filter">FAVORITE</a></li>
                        <li>/</li>
                        <li><a href="#filter">AUCTIONS</a></li>
                        <li>/</li>
                        <li><a href="#filter">REWARDS</a></li>
                        <li>/</li>
                        <li><a href="#filter">COMMENTS</a></li>
                        <li>/</li>
                        <li><a href="#filter">SETTINGS</a></li>
                        <li>/</li>
                        <li><a href="#filter">COMPLAINTS</a></li>

                    </ul>
                </div>

                <!-- start: Portfolio -->
                <div id="portfolio-wrapper" class="row-fluid">
                    <div class="span3 portfolio-item website html5 css3 responsive" style="text-align: right">
                        <ul>
                            <li><a href="#">DateTime</a></li>
                            <li><a href="#">Artist</a></li>
                            <li><a href="#">Genre</a></li>
                        </ul>
                    </div>

                    <!-- Display Area -->
                    <div class="span8">
                        {% for fav_aw in fav_artworks %}

                            <div class="span4 portfolio-item website html5 css3 responsive">
                            <div class="picture">
                                <a href="" title="fav_aw"><img src="{{ fav_aw.aw_img }}" alt="" />
                                    <div class="image-overlay-link"></div>
                                </a>

                                <div class="item-description alt">
                                    <h5><a href="">{{ fav_aw.aw_name }}</a></h5>
                                    <p>
                                        {{ fav_aw.aw_description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- end: Portfolio -->
            </div>
            <!-- end: Wrapper -->
        </div>
        <!--end: Container -->

    </div>

{% endblock %}