{% extends 'master.html' %}
{% block title %}Personal Page: {{ customer.username }}{% endblock %}

{% block body %}

    <div id="portfolio" class="color white">

        <!--start: Container -->
        <div class="container">
            <!--start: Wrapper -->
            <div class="wrapper span12">
                <!-- start: Page Title -->
                <div id="page-title">
                    <div id="page-title-inner">
                        <h2><span>{{ customer.username }}</span></h2>
                    </div>
                </div>
                <!-- end: Page Title -->

                <!-- start: Flexslider -->
                <!--
			<div class="slider">
				<div id="flex1" class="flexslider">
					<ul class="slides">

						<li><div class="picture"><img src="img/slider/slider1.jpg" alt="" /></div></li>

						<li><div class="picture"><img src="img/slider/slider2.jpg" alt="" /></div></li>

						<li><div class="picture"><img src="img/slider/slider3.jpg" alt="" /></div></li>

					</ul>
				</div>
			</div>
-->
                <!-- end: Flexslider -->

                <div id="filters">
                    <ul class="option-set" data-option-key="filter">
                        <li><a href="#filter" class="selected" data-option-value="*">FAVORITE</a></li>
                        <li>/</li>
                        <li><a href="#filter">AUCTIONS</a></li>
                        <li>/</li>
                        <li><a href="#filter">REWARDS</a></li>
                        <li>/</li>
                        <li><a href="#filter">COMMENTS</a></li>
                        <li>/</li>
                        <li><a href="#filter">SETTINGS</a></li>
                        <li>/</li>
                        <li><a href="#filter">COMPLAINTS</a></li>

                    </ul>
                </div>

                <!-- start: Portfolio -->
                <div id="portfolio-wrapper" class="row-fluid">
                    <div class="span4 portfolio-item website html5 css3 responsive">
                        <div class="picture">
                            <a href="" title="Smart Responsive Template"><img src="" alt="" />
                                <div class="image-overlay-link"></div>
                            </a>
                            <div class="item-description alt">
                                <h5><a href="">Smart Responsive Bootstrap Template</a></h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end: Wrapper -->

        </div>
        <!--end: Container -->

    </div>

{% endblock %}