{% extends 'personal_center/personal_master.html' %}

{% block title %}Art Gallery: Favorite{% endblock %}

{% block content %}
    <!-- start: content -->
    <div id="portfolio-wrapper" class="row-fluid">
        <div class="span2 portfolio-item website html5 css3 responsive"
             style="text-align: right; position: -webkit-sticky; position: sticky; top: 70px">
            <ul>
                <li><a><b>FAVORITES</b></a></li>
                <li><a>RELATED ARTISTS</a></li>
            </ul>
        </div>

        <!-- Display Area -->
        <div class="span9">
            {% for fav_aw in fav_artworks %}
                <div class="span4 portfolio-item website html5 css3 responsive">
                    <div class="picture">
                        <a href="" title="fav_aw"><img src="{{ fav_aw.aw_img }}" alt=""/>
                            <div class="image-overlay-link"></div>
                        </a>

                        <div class="item-description alt">
                            <h5><a href="">{{ fav_aw.aw_name }}</a></h5>
                            <p>
                                {{ fav_aw.aw_description }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- end: content -->
{% endblock %}