{% extends 'personal_center/personal_master.html' %}

{% block title %}Rewards History{% endblock %}

{% block menu %}
    <ul>
        <li><a><b>Time Order</b></a></li>
        <li><a>Amount</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% for reward in rewards %}
        <div class="span4 portfolio-item website html5 css3 responsive">
            <div class="picture">
                <a href="" title="fav_aw">
                    <img src="{{ reward.aw_id.aw_img }}" alt=""/>
                    <div class="image-overlay-link"></div>
                </a>
                <div class="item-description alt">
                    <h5><a href="">{{ reward.aw_id.aw_name }}</a></h5>
                    <p>
                        {{ reward.reward_time }}
                    </p>
                    <p>
                        ${{ reward.reward_amount }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
