
{% block content %}

<html>
    <head>
         {% load static %}
        <link rel="stylesheet" href="{% static "ArtGallery/css/account.css" %}">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" >
            $(document).ready(function(){
            $("#id_username").attr('placeholder', '{{form.username.label}}');
            $("#id_email").attr('placeholder', '{{form.password.label}}');
            });
        </script>
    </head>
    <body>

    <div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="wrap">
                <p class="form-title">
                    Sign In</p>
                <form class="login" method="post" action="{% url 'login' %}">
                     {% csrf_token %}

                    {{ form.username }}
                    {{ form.password }}
                    <div class = "row" style="color: #ff0000">
                        {% if form.errors %}
                            <p>Your username and password didn't match. Please try again.</p>
                        {% endif %}
                        {% if next %}
                            {% if user.is_authenticated %}
                                <p>Your account doesn't have access to this page. To proceed,
                                please login with an account that has access.</p>
                            {% else %}
                                <p>Please login to see this page.</p>
                            {% endif %}
                        {% endif %}
                    </div>

                <input type="submit" value="Sign In" class="btn btn-success btn-sm" />
                    <input type="hidden" name="next" value="{{ next }}" >
                <div class="remember-forgot">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" />
                                    Remember Me

                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 forgot-pass-content">
                        <a href="{% url 'password_reset' %}">Lost password?</a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            </div>
            </div>
            </div>
        {# Assumes you setup the password_reset view in your URLconf #}

    </body>
</html>

{% endblock %}