{% extends 'master.html' %}

{% block body %}
    <div id="portfolio" class="color white">
        <div class="container">
            <div class="wrapper span12">
                <!-- start: Page Title -->
                <div id="page-title">
                    <div id="page-title-inner">
                        <h2><span class="fa-icon-paper-clip"> Log In</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="portfolio-wrapper" class="row-fluid">
        <div class="span2 offset5">
            <div class="text-center">
                <form class="login" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="row-fluid">
                        <br/>
                        <input class="input-block-level" id="{{ form.username.id_for_label }}" maxlength="30"
                               name="{{ form.username.html_name }}" type="text"/>
                    </div>
                    <div class="row-fluid">

                        <input class="input-block-level" id="{{ form.password.id_for_label }}"
                               maxlength="30"
                               name="{{ form.password.html_name }}" type="password"/>
                    </div>
                    <div class="row-fluid">
                        {% if form.errors %}
                            <p>Your username and password didn't match. Please try again.</p>
                        {% endif %}
                        {% if next %}
                            {% if user.is_authenticated %}
                                <p>Your account doesn't have access to this page. To proceed,
                                    please login with an account that has access.</p>
                            {% else %}
                                <p>Please login to see this page.</p>
                            {% endif %}
                        {% endif %}
                    </div>
                    <hr/>

                    <input type="submit" value="Sign In" class="btn btn-success btn-large"/>
                    <a class="btn btn-info btn-large" href="{% url 'signup' %}">Sign Up</a>
                    <input type="hidden" name="next" value="{{ next }}">
                    <br/>
                    <br/><br/>

                    <div class="remember-forgot">
                        <div class="row-fluid">
                            <div class="span1 offset5">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"/>
                                        Remember Me

                                    </label>
                                </div>
                            </div>
                            <div class="span1 forgot-pass-content">
                                <a class="label label-danger" href="{% url 'password_reset' %}">Lost
                                    password?</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_username").attr('placeholder', '{{form.username.label}}');
            $("#id_email").attr('placeholder', '{{form.password.label}}');
        });
    </script>
{% endblock %}