{% extends 'master.html' %}

{% block body %}
    <div id="portfolio" class="color white">
        <div class="container">
            <div class="wrapper span12">
                <!-- start: Page Title -->
                <div id="page-title">
                    <div id="page-title-inner">
                        <h2><span class="fa-icon-book"> Sign Up</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="portfolio-wrapper" class="row-fluid">
        <div class="span12">
            <form class="login" method="post">
                {% csrf_token %}
                <div class="span3 offset3">
                    {% for field in form %}
                        <div>
                            <label class="label label-important"
                                   for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                            <br/>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="display: none">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="span5">
                    {% for field in profile %}
                        <div>
                            <label class="label label-success"
                                   for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                            <br/>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="display: none">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <br/>
                    <div class="row-fluid">
                        <input type="submit" value="Sign Up" class="btn btn-primary btn-large"
                               onclick="this.disabled=true,this.form.submit();"/>
                        <input type="hidden" name="next" value="{{ next }}">
                    </div>
                </div>


            </form>
        </div>


    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_username").attr('placeholder', '{{form.username.label}}');
            $("#id_email").attr('placeholder', '{{form.password.label}}');
        });
        $(function () {
            $("#id_birthday").datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: "1950:1999"
            });
        });
    </script>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}