<h1>Auction</h1>
Artwork: {{ record.aw_id.aw_name }} <br />
Auction time: {{ record.ar_time }} <br />
Base price: {{ record.ar_originalPrice }} <br />
Final Price: {{ record.ar_finalPrice }} <br />
Auction Hisotry:
<table>
    <tr>
        <th>Bid time</th>
        <th>Bidder</th>
        <th>Price</th>

    </tr>
    {% for item in history %}
    <tr>
        <td>{{ item.ah_aucTime }}</td>
        <td>{{ item.customer_id.username }}</td>
        <td>{{ item.ah_amount }}</td>
    </tr>
    {% endfor %}
</table>