<html>
    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $( function() {
                $( "#id_ar_expiration" ).datepicker();
            });
        </script>
    </head>
    <body>
        <h1>Create Auction</h1>
        You world like to create auction for:
        Artwork: {{ aw.aw_name }} <br />
        <form id="auctionForm" name="auctionForm" action="" method="POST">
         {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create" />
        </form>
    </body>
</html>