{% block content %}
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static "ArtGallery/css/artwork.css" %}">
    </head>
    <body>

        <!-- Detail of artwork -->
        <h1>Artwork</h1>
        Picture: <img src = "{{CONSTANT_NAME}}/{{ aw.aw_img.url }}" height="420px" /> <br />
        Artwork title: {{ aw.aw_name }} <br />
        Artist: <a href = "{{CONSTANT_NAME}}/artist/{{aw.artist_id.id}}/detail">{{ aw.artist_id.first_name }} {{ aw.artist_id.last_name }}</a> <br />
        Description: {{ aw.aw_description }} <br />
        Publish time: {{ aw.aw_time }} <br />
        Genre: {{ aw.aw_genre }} <br />
        Total award: {{ aw.aw_totalAward }} <br />
        Auction status: {{ aw.aw_auctionStat }} <br />

        <!-- Comment list and post comment-->
        <h2> Comments for this artwork </h2>

        <div id = "id_comment_display">
            {% for item in comment %}
            <p>
                Author: {{ item.commenter_id.username }}<br />
                Time: {{ item.comment_time }}<br />
                Rating: {{ item.rating }}<br />
                Comment content: <br />{{ item.comment_content }}<br />
                <br />
            </p>
            {% endfor %}
        </div>



        <h2> Post comment </h2>
        <form id="id_commentForm" name="commentForm" action="" method="POST">
         {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" id = "id_commentButton" name = "commentButton" value="Post Comment" />
        </form>

        <!-- Reward link and reward record -->
        <h2>Reward</h2>
        <a href = "{{CONSTANT_NAME}}/artwork/{{aw.id}}/reward/"> Click here to reward </a>

        <table id="reewardTable">
        <tr>
            <th>Contributor</th>
            <th>Reward time</th>
            <th>amount</th>

        </tr>
        {% for item in reward %}
        <tr>
            <td>{{ item.customer_id.username }}</td>
            <td>{{ item.reward_time }}</td>
            <td>{{ item.reward_amount }}</td>
        </tr>
        {% endfor %}
        </table>

        <!-- Button for favourite artwork -->
        <h2> Add to or Remove from favourite list</h2>
        <form id="favouriteForm" name="favouriteForm" action="" method="POST">
            {% csrf_token %}
            <input type="submit" name="favouriteButton" value="Add to/ Remove from favourite list" />
        </form>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('#id_commentButton').click(function(){
            $.ajax({
                cache: false,
                type: "POST",
                dataType: "json",
                url:"{% url 'comment' aw.id %}"
                data: $('#id_commentForm').serialize(),
                async: true,
                success: function (data) {
                    var json = jQuery.parseJSON(data);
                    var content = "<div id = \"id_comment_display\">"; // Div head
                    // Read data and append to content
                    for (i = 0; i < json.length; i++) {
                        content += "<p>" + "Author: " + json[i].fields.commenter_id + "<br />" +
                                "Time: " + json[i].fields.comment_time + "<br />" +
                                "Rating: " + json[i].fields.rating + "<br />" +
                                "Comment content: " + "<br />" + json[i].fields.comment_content + "<br />" + "<br />" + "</p>"
                    }
                    content += "</div>";
                    $('#id_comment_display').html(content);
                }
            });
            return false;
        });
    </script>
</html>
{% endblock %}