<h1>Artist</h1>

Artist Name: {{ user.user_id.first_name }} {{ user.user_id.last_name }} <br />
Birthday: {{ user.birthday }} <br />
His artworks:
<table>
    <tr>
        <th>Title</th>
        <th>Time</th>
        <th>Type</th>
        <th>Genre</th>
        <th>Link</th>
    </tr>
    {% for item in aw %}
    <tr>
        <td>{{ item.aw_name }}</td>
        <td>{{ item.aw_description }}</td>
        <td>{{ item.aw_type }}</td>
        <td>{{ item.aw_genre }}</td>
        <td><a href = "{{CONSTANT_NAME}}/artwork/{{ item.id }}/detail/">view</a></td>
    </tr>
    {% endfor %}
</table>
